/* topo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo*/
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}

/*menu*/
.menu {
    background: #4F4F4F;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 10px 20px;
}

/* LOGO NORMAL (SEM BORDA ARREDONDADA) */
.logo img {
    height: 50px;
    display: block;
    object-fit: contain; /* mantém proporção */
}

/* LINKS */
.menu a {
    text-decoration: none;
    color: #DCDCDC;
    font-weight: 600;
    padding: 10px 14px;
    border-radius: 8px;
    transition: 0.25s;
}

.menu a:hover {
    background-color: #800000;
    color: #fff;
}

/*Titulo*/
h1 {
    margin: 25px 20px 10px;
    font-size: 38px;
}

p {
    margin: 0 20px 20px;
    color: #ffffff;
}

/* cards*/
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.flip-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 22px rgba(0,0,0,0.25);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back {
    background: linear-gradient(135deg, #ff1e1e, #740b0b);
    color: #ffffff;
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}