/*Logo*/
/*Controla o tamanho da logo*/
.logo img {
    height: 60px;
}
/*Deixa a imagem e o menu na mesma linha*/
.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}
/*Coloroção parecido com o do studyo playtime co.*/
.menu a:hover {
    color: #ff003f;
}
/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#4F4F4F;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    color:#DCDCDC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    background-color:#800000;
}
/*Cards*/
.flip-card{
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
/*Card fixo*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0,2);
}

.container{
    padding: 2px 16px;
}